.productContainer{

}
.inputContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.input{
    padding: 10px 25px;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.heading{
    margin: 50px 0px 20px 5%;
    
}